*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    font-family: 'Poppins', sans-serif;
}
.tot{
    height: max-content;
}
.head{
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 600;
    font-size: 35px;
}
.head p{
    color:#fff;
    letter-spacing: 3px;
}
.head p span{
    color: rgb(179, 128, 33);
    margin-left: 20px;
}
.quiz_index1 ,.quiz_index2{
    display: flex;
    justify-content: space-around;
}
.quiz_index1 img,.quiz_index2 img{
    height: 150px;
    width: 150px;
}
.quiz_index1 .html{
    background-color: #222;
    width: 210px;
    height: 230px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5);
}  
.quiz_index1 .css{
    background-color: #222;
    width: 210px;
    height: 230px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5);
}  
.quiz_index2 .javascript{
    background-color: #222;
    width: 210px;
    height: 230px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5);
}  
.quiz_index2 .python{
    background-color: #222;
    width: 210px;
    height: 230px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5);
   
}

.quiz_index2{
    margin-top: 3%;
}
.quiz_index1 a,.quiz_index2 a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid  orangered;
    padding: 10px 28px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s all linear;
    background-color: white;
    width: 100%;
}
.quiz_index1 .html a:hover{
    background-color: orangered;
    color: white;
}
.quiz_index1 .css a{
    border: 1px solid   #007bff;
}
.quiz_index2 .javascript a{
    border: 1px solid   yellow;
}
.quiz_index2 .javascript a:hover{
    background-color: yellow;
    color: black;
}
.quiz_index2 .python a{
    border: 1px solid #007bff;
}
.quiz_index2 .python a:hover{
    background-color: rgb(255, 255, 0,);
    color: black;
}
.quiz_index1 .css a:hover{
    background-color: #007bff;
    color: white;
}
.quiz_index2 a:hover{
    background-color: steelblue;
    color: white;
}







/* --------Responsive----- */






@media(max-width:950px){
    .quiz_index2{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .head{
        margin-bottom: 8%;
    }
}
@media(max-width:650px){
    .head{
        font-size: 27px;
        margin-bottom: 12%;
    }
}
@media(max-width:550px){
    .quiz_index1, .quiz_index2{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .quiz_index1,.quiz_index2{
        padding-bottom: 12%;
    }
    .quiz_index1 .html{
        margin-bottom: 12%;
    }
    .quiz_index2 .javascript{
        margin-bottom: 12%;
    }
    .head p span{
        margin-left: 6px;
    }
    .head{
        margin-top: 7%;
        font-size: 20px;
        margin-bottom: 12%;
    }
}
@media(max-width:400px){
    .head p span{
        margin-left: 3px;
    }
    .head{
        font-size: 17px;
    }
    .quiz_index1 .html{
        margin-bottom: 17%;
    }
    .quiz_index2 .javascript{
        margin-bottom: 17%;
    }
}